---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';


---

<BaseLayout title="En résumé | Hadrien Genty-Franconin" description="En résumé">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="En résumé"
				tagline="Après un diplôme d’ingénieur, j'aimerais intégrer un Mastère Spécialisé en  Management Industriel et en Supply Chain dans le secteur de l’aéronautique, spatiale et défense à partir de Septembre 2024."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Projet Professionnel</h2>
				<div class="content">
					<p>
						Ma formation en ingénierie aéronautique m'a permis de développer une compréhension approfondie des défis spécifiques rencontrés dans ce secteur dynamique. 
						Au fil de mes études, j'ai été initié aux différents aspects de la production et de l'industrialisation, 
						ce qui a suscité mon intérêt pour la mineure Production et Industrialisation en dernière année. 
						Cette expérience m'a ouvert les yeux sur l'importance stratégique de la supply Chain dans la réussite des projets de réindustrialisation, 
						notamment dans un contexte où la croissance de la production présente des défis majeurs et où l’aéronautique exprime un réel besoin.
					</p> <br/>
					<p>
						Fort de cette prise de conscience, j'ai défini mon objectif professionnel : contribuer activement à l'optimisation des processus de supply Chain dans l'industrie aéronautique. 
						Je suis convaincu que le Management Industriel et Système Logistique, proposé en MS, constitue la prochaine étape logique dans la réalisation de mon projet. Il manque, pour parfaire ma formation, 
						des connaissances supplémentaires de management de la chaine logistique, management de projet, management industriel et production qui sont d’autant de concept 
						rencontré durant ma formation mais jamais approfondie. Il sera intéressant, pour mon projet professionnel, de combiner mes compétences d'ingénieur aéronautique avec les compétences 
						spécifiques d’un MS dans ce secteur en constante évolution. 
					</p> <br/>
					<p>
						Ainsi, un MS en Alternance représentera pour moi une opportunité précieuse de consolider mes acquis académiques et professionnels, 
						tout en élargissant mes perspectives et en me préparant efficacement à relever les défis passionnants qui m'attendent dans l'industrie aéronautique tout en me professionnalisant.
					</p> 
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<b>2019</b><br/><p>Baccalauréat Scientifique, spécialité Science de la Vie et de la Terre, option Mathématiques</p> <br/>
					<b>2019-2022</b><br/><p>Cycle licence d'ingénierie généraliste à l'EPF</p><br/>
					<b>2022-2024</b><br/><p>Master d'ingénierie en Aéronautique et Spacial avec spécialité Industrialisation et Production à l'EPF</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<b>Soft skills</b><br/></p>Esprit d'équipe, curiosité, organisation, rigueur, tenacité<p><br/>
					<b>Hard skills</b><br/></p>Cambridge C1 (180+), Pack Office, SAP, Catia V5, Fusion 360, My SQL, Excel/Macro VBA <p><br/>
				</div>
			</section>
		</main>


		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}


	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}


</style>
